################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/Python-Functions/v17/.wsuo
/.vs/Python-Functions/FileContentIndex/2144f167-6021-44a0-8b40-24b4788a0d0a.vsidx
*.vsidx
